In [117]:
# Import des librairies et appelation pour facilitation d'utilisation
import numpy as np
import pandas as pd
import seaborn as sns

# Importation et mise en forme des données sur les bilans alimentaires (végétaux et animaux)

In [118]:
# Import des données des bilans alimentaires
veg2013 = pd.read_csv(r"C:\Users\Nathan\Python\Projet3\Données projet 3\foodBalance2013vegetal.csv")
ani2013 = pd.read_csv(r"C:\Users\Nathan\Python\Projet3\Données projet 3\foodBalance2013animal.csv")
veg2017 = pd.read_csv(r"C:\Users\Nathan\Python\Projet3\Données projet 3\foodBalance2017vegetal.csv")
ani2017 = pd.read_csv(r"C:\Users\Nathan\Python\Projet3\Données projet 3\foodBalance2017animal.csv")

In [119]:
# Ajout de la variable origin
ani2013["origin"] = "animal"
veg2013["origin"] = "vegetal"
ani2017["origin"] = "animal"
veg2017["origin"] = "vegetal"

In [120]:
# On regroupe veg et ani en un unique dataframe, via une union
temp = pd.concat([ani2013,veg2013,ani2017, veg2017])

In [121]:
# On renomme les colonnes de temp
temp.columns = ["xx","xx2","country_code","country",'xx3','element'
    ,'item_code','item','xx4',"year","unit","value",'xx5','xx6'
    ,'origin']

In [122]:
# Transformation de temp en table pivot
data = temp.pivot_table(
    index=["country_code","country","item_code","item","year","origin"],
    columns = ["element"], values=["value"], aggfunc=sum)

In [123]:
# On renomme les colonnes (attention l'ordre peut changer selon vos données !)
data.columns = ['domestic_supply_quantity', 'export_quantity', 'fat_supply_quantity_kgcapitayr', 'feed',
    'food', 'food_supply_kcalcapitaday', 'food_supply_quantity_kgcapitayr',
    'import_quantity', 'waste' , 'other_uses',"processing", "production",
    'protein_supply_quantity_gcapday','residuals', 'seed', 'stock_variation','tourist_consumption']

In [124]:
#visualisation des 5 premières lignes de la "data" et initialisation de l'index
data = data.reset_index()
data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity,export_quantity,fat_supply_quantity_kgcapitayr,feed,...,import_quantity,waste,other_uses,processing,production,protein_supply_quantity_gcapday,residuals,seed,stock_variation,tourist_consumption
0,1,Armenia,2511,Wheat and products,2013,vegetal,554.0,1.0,3.60,93.0,...,361.0,32.0,0.0,10.0,312.0,30.52,NaN,30.0,-118.0,NaN
1,1,Armenia,2511,Wheat and products,2017,vegetal,558.0,1.0,3.97,105.0,...,337.0,10.0,0.0,60.0,176.0,31.35,-31.0,25.0,-45.0,NaN
2,1,Armenia,2513,Barley and products,2013,vegetal,198.0,0.0,0.00,137.0,...,9.0,15.0,26.0,7.0,189.0,0.00,NaN,14.0,0.0,NaN
3,1,Armenia,2513,Barley and products,2017,vegetal,114.0,0.0,0.02,91.0,...,14.0,10.0,6.0,4.0,93.0,0.15,-12.0,13.0,-7.0,NaN
4,1,Armenia,2514,Maize and products,2013,vegetal,102.0,NaN,NaN,96.0,...,82.0,7.0,NaN,NaN,21.0,0.01,NaN,0.0,NaN,NaN

In [125]:
#Dans un soucis pratique pour le reste du projet nous allons convertir les unités de certaines colonnes   
#Nous passons de "1000 tonnes" à "Kg" 
data["domestic_supply_quantity_kg"] = data.domestic_supply_quantity*1000000
data["export_quantity_kg"] = data.export_quantity*1000000
data["feed_kg"] = data.feed*1000000
data["food_kg"] = data.food*1000000
data["import_quantity_kg"] = data.import_quantity*1000000
data["waste_kg"] = data.waste*1000000
data["other_uses_kg"] = data.other_uses*1000000
data["processing_kg"] = data.processing*1000000
data["production_kg"] = data.production*1000000
data["protein_supply_quantity_kgcapday"] = data.protein_supply_quantity_gcapday/1000
data["residuals_kg"] = data.residuals*1000000
data["seed_kg"] = data.seed*1000000
data["stock_variation_kg"] = data.stock_variation*1000000
data["tourist_consumption_kg"] = data.tourist_consumption*1000000

data = data[["country_code","country","item_code","item","year","origin",
             'domestic_supply_quantity_kg',"export_quantity_kg",'fat_supply_quantity_kgcapitayr',
             "feed_kg",'food_kg','food_supply_kcalcapitaday','food_supply_quantity_kgcapitayr',
             'import_quantity_kg','waste_kg','other_uses_kg','processing_kg','production_kg',
            'protein_supply_quantity_kgcapday','residuals_kg','seed_kg','stock_variation_kg',
             'tourist_consumption_kg']]
data.head()

,country_code,country,item_code,item,year,origin,domestic_supply_quantity_kg,export_quantity_kg,fat_supply_quantity_kgcapitayr,feed_kg,...,import_quantity_kg,waste_kg,other_uses_kg,processing_kg,production_kg,protein_supply_quantity_kgcapday,residuals_kg,seed_kg,stock_variation_kg,tourist_consumption_kg
0,1,Armenia,2511,Wheat and products,2013,vegetal,554000000.0,1000000.0,3.60,93000000.0,...,361000000.0,32000000.0,0.0,10000000.0,312000000.0,0.03052,NaN,30000000.0,-118000000.0,NaN
1,1,Armenia,2511,Wheat and products,2017,vegetal,558000000.0,1000000.0,3.97,105000000.0,...,337000000.0,10000000.0,0.0,60000000.0,176000000.0,0.03135,-31000000.0,25000000.0,-45000000.0,NaN
2,1,Armenia,2513,Barley and products,2013,vegetal,198000000.0,0.0,0.00,137000000.0,...,9000000.0,15000000.0,26000000.0,7000000.0,189000000.0,0.00000,NaN,14000000.0,0.0,NaN
3,1,Armenia,2513,Barley and products,2017,vegetal,114000000.0,0.0,0.02,91000000.0,...,14000000.0,10000000.0,6000000.0,4000000.0,93000000.0,0.00015,-12000000.0,13000000.0,-7000000.0,NaN
4,1,Armenia,2514,Maize and products,2013,vegetal,102000000.0,NaN,NaN,96000000.0,...,82000000.0,7000000.0,NaN,NaN,21000000.0,0.00001,NaN,0.0,NaN,NaN

In [126]:
#évaluation du format de la "data" ligne et colonne
data.shape

(31846, 23)

In [127]:
#exploration rapide de la "data" 
#PK : "country","item","year","origin"
data.describe(include = "all")

,country_code,country,item_code,item,year,origin,domestic_supply_quantity_kg,export_quantity_kg,fat_supply_quantity_kgcapitayr,feed_kg,...,import_quantity_kg,waste_kg,other_uses_kg,processing_kg,production_kg,protein_supply_quantity_kgcapday,residuals_kg,seed_kg,stock_variation_kg,tourist_consumption_kg
count,31846.000000,31846,31846.000000,31846,31846.000000,31846,3.148000e+04,2.452800e+04,26483.000000,6.991000e+03,...,3.030200e+04,1.020300e+04,1.093800e+04,5.919000e+03,1.969700e+04,26242.000000,1.265200e+04,4.252000e+03,1.824400e+04,5.642000e+03
unique,NaN,175,NaN,98,NaN,2,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,China,NaN,Freshwater Fish,NaN,vegetal,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,194,NaN,350,NaN,24356,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,127.247943,NaN,2630.798122,NaN,2015.027759,NaN,8.037495e+08,1.234699e+08,1.151729,5.132628e+08,...,1.051539e+08,1.260798e+08,1.817771e+08,9.002239e+08,1.288638e+09,0.001079,-3.086390e+06,8.763147e+07,3.348498e+05,1.162708e+05
std,74.858495,NaN,91.549150,NaN,1.999839,NaN,1.079785e+10,1.224329e+09,3.524460,5.179205e+09,...,1.131021e+09,1.414213e+09,5.031002e+09,9.698207e+09,1.392023e+10,0.003409,5.239459e+07,6.335077e+08,4.668428e+08,3.757159e+06
min,1.000000,NaN,2511.000000,NaN,2013.000000,NaN,-3.430000e+09,-4.100000e+07,-0.030000,-2.000000e+06,...,-2.010000e+08,0.000000e+00,-1.000000e+06,-1.900000e+07,0.000000e+00,-0.000370,-2.912000e+09,0.000000e+00,-3.986300e+10,-5.200000e+07
25%,66.000000,NaN,2558.000000,NaN,2013.000000,NaN,0.000000e+00,0.000000e+00,0.000000,0.000000e+00,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,1.000000e+06,0.000000,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
50%,121.000000,NaN,2613.000000,NaN,2017.000000,NaN,6.000000e+06,0.000000e+00,0.050000,2.000000e+06,...,2.000000e+06,3.000000e+06,0.000000e+00,3.000000e+06,1.900000e+07,0.000050,0.000000e+00,2.000000e+06,0.000000e+00,0.000000e+00
75%,189.000000,NaN,2732.000000,NaN,2017.000000,NaN,7.900000e+07,1.000000e+07,0.480000,4.750000e+07,...,1.800000e+07,2.300000e+07,5.000000e+06,5.300000e+07,1.820000e+08,0.000510,0.000000e+00,1.900000e+07,0.000000e+00,0.000000e+00
max,351.000000,NaN,2899.000000,NaN,2017.000000,NaN,7.585480e+11,6.815600e+10,60.760000,1.918590e+11,...,9.811900e+10,8.347600e+10,3.473090e+11,3.455100e+11,7.585480e+11,0.054970,1.870000e+09,2.250100e+10,2.508900e+10,1.660000e+08

# Question 1 : donnez le résultat de votre calcul pour l'année 2013, ainsi que pour la dernière année  disponible au jour où vous effectuez ce projet. (population 2013 et 2017)

In [128]:
#importation des tables populations (2013 et 2017)
worldPop2013 = pd.read_csv(r"C:\Users\Nathan\Python\Projet3\Données projet 3\populationWorld.csv")
worldPop2017 = pd.read_csv(r"C:\Users\Nathan\Python\Projet3\Données projet 3\populationWorld2017.csv")

In [129]:
#visualisation nb colonnes et lignes 
print (worldPop2013.shape)
print (worldPop2017.shape)

(176, 14)
(171, 14)

In [130]:
#union des deux tables 
tempPop = worldPop2013.append(worldPop2017)

In [131]:
#renommer les colonnes pour faciliter les utilisations 
tempPop.columns = ["domain_code", "domain", "area_code","area", "element_code",
                    "element", "item_code","item", "year_code", "year",
                   "unit", "value", "flag", "flag_description"]

In [132]:
#overview tempPop
tempPop.describe(include='all')

,domain_code,domain,area_code,area,element_code,element,item_code,item,year_code,year,unit,value,flag,flag_description
count,347,347,347.000000,347,347.0,347,347.0,347,347.000000,347.000000,347,3.470000e+02,173,347
unique,2,2,NaN,176,NaN,1,NaN,1,NaN,NaN,1,NaN,2,3
top,FBSH,Food Balances (old methodology and population),NaN,Eswatini,NaN,Total Population - Both sexes,NaN,Population,NaN,NaN,1000 persons,NaN,S,Official data
freq,176,176,NaN,2,NaN,347,NaN,347,NaN,NaN,347,NaN,170,174
mean,NaN,NaN,141.077810,NaN,511.0,NaN,2501.0,NaN,2014.971182,2014.971182,NaN,6.972280e+04,NaN,NaN
std,NaN,NaN,272.059576,NaN,0.0,NaN,0.0,NaN,2.002680,2.002680,NaN,4.152566e+05,NaN,NaN
min,NaN,NaN,1.000000,NaN,511.0,NaN,2501.0,NaN,2013.000000,2013.000000,NaN,5.205000e+01,NaN,NaN
25%,NaN,NaN,66.000000,NaN,511.0,NaN,2501.0,NaN,2013.000000,2013.000000,NaN,2.811500e+03,NaN,NaN
50%,NaN,NaN,122.000000,NaN,511.0,NaN,2501.0,NaN,2013.000000,2013.000000,NaN,9.571000e+03,NaN,NaN
75%,NaN,NaN,189.000000,NaN,511.0,NaN,2501.0,NaN,2017.000000,2017.000000,NaN,2.976689e+04,NaN,NaN
max,NaN,NaN,5000.000000,NaN,511.0,NaN,2501.0,NaN,2017.000000,2017.000000,NaN,6.997326e+06,NaN,NaN

In [133]:
#conversion de la colonne value en nombre de personnes plutot qu'en 1000 personnes 
tempPop["population"] = tempPop.value*1000
tempPop = tempPop[["domain_code", "domain", "area_code","area", "element_code",
                    "element", "item_code","item", "year_code", "year",
                   "value", "flag", "flag_description","population"]]

In [134]:
#création d'une table pivot pour les populations par année pour avoir la somme par année 
popWorldParAnnee = tempPop.pivot_table("population", index="year",aggfunc="sum")
popWorldParAnnee

        population
year
2013  1.541132e+10
2017  8.782494e+09

In [135]:
#problème 2 fois trop en 2013 et un milliard de trop en 2017
#Enlever les lignes en trop dans la data frame 
#selectiosn sans les lignes d'agrégats (chine et pop mondiale)
newTempPop = tempPop[tempPop["flag"]!= "A"]

In [136]:
#Overview newTempPop
newTempPop.describe(include='all')

,domain_code,domain,area_code,area,element_code,element,item_code,item,year_code,year,value,flag,flag_description,population
count,344,344,344.000000,344,344.0,344,344.0,344,344.000000,344.000000,3.440000e+02,170,344,3.440000e+02
unique,2,2,NaN,174,NaN,1,NaN,1,NaN,NaN,NaN,1,2,NaN
top,FBSH,Food Balances (old methodology and population),NaN,Eswatini,NaN,Total Population - Both sexes,NaN,Population,NaN,NaN,NaN,S,Official data,NaN
freq,174,174,NaN,2,NaN,344,NaN,344,NaN,NaN,NaN,170,174,NaN
mean,NaN,NaN,125.732558,NaN,511.0,NaN,2501.0,NaN,2014.976744,2014.976744,4.164882e+04,NaN,NaN,4.164882e+07
std,NaN,NaN,73.071222,NaN,0.0,NaN,0.0,NaN,2.002778,2.002778,1.495773e+05,NaN,NaN,1.495773e+08
min,NaN,NaN,1.000000,NaN,511.0,NaN,2501.0,NaN,2013.000000,2013.000000,5.205000e+01,NaN,NaN,5.205000e+04
25%,NaN,NaN,65.250000,NaN,511.0,NaN,2501.0,NaN,2013.000000,2013.000000,2.688658e+03,NaN,NaN,2.688658e+06
50%,NaN,NaN,121.000000,NaN,511.0,NaN,2501.0,NaN,2013.000000,2013.000000,9.499100e+03,NaN,NaN,9.499100e+06
75%,NaN,NaN,188.000000,NaN,511.0,NaN,2501.0,NaN,2017.000000,2017.000000,2.919172e+04,NaN,NaN,2.919172e+07
max,NaN,NaN,276.000000,NaN,511.0,NaN,2501.0,NaN,2017.000000,2017.000000,1.421022e+06,NaN,NaN,1.421022e+09

### Réponse question 1

In [137]:
#Nouvelle table pivot table pivot pour les populations par année
newPopWorldParAnnee = newTempPop.pivot_table("population", index="year",aggfunc="sum")
newPopWorldParAnnee = newPopWorldParAnnee.reset_index()

In [138]:
for i in range (2):
    print("La population mondiale en {} était de  {} d'humains."
          .format( newPopWorldParAnnee.at[i,'year'],newPopWorldParAnnee.at[i,'population']))

La population mondiale en 2013 était de  6997326000.0 d'humains.
La population mondiale en 2017 était de  7329868960.0 d'humains.

# Question 2 : Identifiez ces redondances, en donnant votre réponse sous forme de formule mathématique (pas besoin de coder ici :soleil: ). C'est une équation à 3 termes de type \(a_1 + a2 + [...] = b_1 + b_2 + [...] = c_1 + c_2 + [...]\) ) faisant intervenir chacune des 11 quantités données ci dessus. Illustrez cette équation avec l'exemple du blé en France. Pour avoir un indice, cliquez sur "Définitions et Standards" sur la page de téléchargement des données.

In [139]:
#vu dans la question 1 les agregats de pays rajoutent des données en trop 
#il faut donc aussi enlever "China" de "data"
data = data[data["country"]!= "China"]

### Réponse Question 2
##### definition sur le site FOA
Diponibilité intérieur = production + importation - exportation +- variation des stocks 

##### utilisation de la disponibilité intérieur ( que fait-on des produits disponibles ?) 
Disponibilité intérieure = semences + pertes + nourriture + alimentation animale + traitement + autres utilisation + residuts + consomation des touristes

### Exemple france  France et Arménie

In [140]:
#création d'une table avec uniquement les pays et les sommes de toutes les colonnes 
sommePays = data.groupby (['country','year']).sum()

In [141]:
#création d'une table avec uniquement les colonnes qui nous intéresse
tempSommeExemple=sommePays[["production_kg","import_quantity_kg","export_quantity_kg",'stock_variation_kg',
                       'domestic_supply_quantity_kg',"seed_kg","waste_kg","food_kg","feed_kg",
                           "processing_kg","other_uses_kg","residuals_kg","tourist_consumption_kg"]]
tempSommeExemple

                  production_kg  import_quantity_kg  export_quantity_kg  \
country     year
Afghanistan 2013   1.117100e+10        2.988000e+09         278000000.0
            2017   1.160900e+10        4.555000e+09         601000000.0
Albania     2013   3.964000e+09        9.330000e+08          94000000.0
            2017   4.231000e+09        8.840000e+08         156000000.0
Algeria     2013   2.635900e+10        1.740300e+10         655000000.0
...                         ...                 ...                 ...
Yemen       2017   3.413000e+09        6.131000e+09         277000000.0
Zambia      2013   1.052600e+10        3.800000e+08         675000000.0
            2017   1.299200e+10        5.270000e+08         831000000.0
Zimbabwe    2013   7.914000e+09        1.342000e+09         278000000.0
            2017   7.579000e+09        1.078000e+09         217000000.0

                  stock_variation_kg  domestic_supply_quantity_kg  \
country     year
Afghanistan 2013        -368000000.0                 1.351500e+10
            2017         426000000.0                 1.513900e+10
Albania     2013         -45000000.0                 4.758000e+09
            2017          72000000.0                 4.879000e+09
Algeria     2013        -479000000.0                 4.263000e+10
...                              ...                          ...
Yemen       2017         341000000.0                 8.926000e+09
Zambia      2013        -182000000.0                 1.004100e+10
            2017         469000000.0                 1.221900e+10
Zimbabwe    2013         531000000.0                 9.507000e+09
            2017        -712000000.0                 9.155000e+09

                      seed_kg      waste_kg       food_kg       feed_kg  \
country     year
Afghanistan 2013  395000000.0  1.135000e+09  1.073500e+10  7.680000e+08
            2017  470000000.0  1.146000e+09  1.296800e+10  4.560000e+08
Albania     2013   55000000.0  2.760000e+08  3.476000e+09  6.600000e+08
            2017   53000000.0  3.210000e+08  3.631000e+09  6.970000e+08
Algeria     2013  449000000.0  3.753000e+09  3.172900e+10  4.352000e+09
...                       ...           ...           ...           ...
Yemen       2017   55000000.0  1.560000e+08  8.415000e+09  3.030000e+08
Zambia      2013   76000000.0  2.420000e+08  5.088000e+09  4.080000e+08
            2017   91000000.0  5.810000e+08  5.998000e+09  1.180000e+09
Zimbabwe    2013   76000000.0  1.880000e+08  4.762000e+09  1.310000e+08
            2017   65000000.0  3.700000e+08  4.812000e+09  1.280000e+08

                  processing_kg  other_uses_kg  residuals_kg  \
country     year
Afghanistan 2013   6.300000e+07   4.150000e+08           0.0
            2017   1.150000e+08   9.400000e+07  -111000000.0
Albania     2013   1.130000e+08   1.740000e+08           0.0
            2017   1.130000e+08   1.770000e+08  -115000000.0
Algeria     2013   6.370000e+08   1.707000e+09           0.0
...                         ...            ...           ...
Yemen       2017   3.100000e+07   1.560000e+08  -196000000.0
Zambia      2013   4.178000e+09   6.900000e+07           0.0
            2017   4.175000e+09   2.390000e+08   -50000000.0
Zimbabwe    2013   4.330000e+09   2.300000e+07           0.0
            2017   3.761000e+09   1.600000e+07    -2000000.0

                  tourist_consumption_kg
country     year
Afghanistan 2013                     0.0
            2017                     0.0
Albania     2013                     0.0
            2017                     0.0
Algeria     2013                     0.0
...                                  ...
Yemen       2017                     0.0
Zambia      2013                     0.0
            2017                     0.0
Zimbabwe    2013                     0.0
            2017                     0.0

[348 rows x 13 columns]

In [142]:
print('Exemple avec la France:')

#Disponibilité intérieur FRANCE
print("La disponibilité intérieure en France est de :" ,
      tempSommeExemple.loc[('France',2013),'domestic_supply_quantity_kg'],"Kg")

#Calcul Définition FOA FRANCE
print("La disponibilité intérieure selon la definition de la FAO en France est de :",
      tempSommeExemple.loc[('France',2013),'production_kg']
      +tempSommeExemple.loc[('France',2013),'import_quantity_kg']
      -tempSommeExemple.loc[('France',2013),'export_quantity_kg']
      +tempSommeExemple.loc[('France',2013),'stock_variation_kg'])
#Calcul utilisation FRANCE

print("La disponibilité intérieure avec la somme de ses utilisations en France est de :",
    tempSommeExemple.loc[('France',2013),'seed_kg']
      +tempSommeExemple.loc[('France',2013),'waste_kg']
      +tempSommeExemple.loc[('France',2013),'food_kg']
      +tempSommeExemple.loc[('France',2013),'feed_kg']
      +tempSommeExemple.loc[('France',2013),'processing_kg']
      +tempSommeExemple.loc[('France',2013),'other_uses_kg']
      +tempSommeExemple.loc[('France',2013),'tourist_consumption_kg']
      +tempSommeExemple.loc[('France',2013),'residuals_kg'])

Exemple avec la France:
La disponibilité intérieure en France est de : 146905000000.0 Kg
La disponibilité intérieure selon la definition de la FAO en France est de : 146904000000.0
La disponibilité intérieure avec la somme de ses utilisations en France est de : 147321000000.0

In [143]:
print("Exemple avec l'Arménie :")

#Disponibilité intérieur Arménie
print("La disponibilité intérieure en Arménie est de :",
      tempSommeExemple.loc[('Armenia',2013),'domestic_supply_quantity_kg'],"Kg")

#Calcul Définition FOA Arménie
print("La disponibilité intérieure selon la definition de la FAO en Arménie est de :",
      tempSommeExemple.loc[('Armenia',2013),'production_kg']
      +tempSommeExemple.loc[('Armenia',2013),'import_quantity_kg']
      -tempSommeExemple.loc[('Armenia',2013),'export_quantity_kg']
      +tempSommeExemple.loc[('Armenia',2013),'stock_variation_kg'])

#Calcul utilisation Arménie
print("La disponibilité intérieure avec la somme de ses utilisations en Areménie est de :",
    tempSommeExemple.loc[('Armenia',2013),'seed_kg']
      +tempSommeExemple.loc[('Armenia',2013),'waste_kg']
      +tempSommeExemple.loc[('Armenia',2013),'food_kg']
      +tempSommeExemple.loc[('Armenia',2013),'feed_kg']
      +tempSommeExemple.loc[('Armenia',2013),'processing_kg']
      +tempSommeExemple.loc[('Armenia',2013),'other_uses_kg']
      +tempSommeExemple.loc[('Armenia',2013),'tourist_consumption_kg']
      +tempSommeExemple.loc[('Armenia',2013),'residuals_kg'])

Exemple avec l'Arménie :
La disponibilité intérieure en Arménie est de : 4388000000.0 Kg
La disponibilité intérieure selon la definition de la FAO en Arménie est de : 4393000000.0
La disponibilité intérieure avec la somme de ses utilisations en Areménie est de : 4390000000.0

# Question 3 : Calculez (pour chaque pays et chaque produit) la disponibilité alimentaire en kcal puis en kg de protéines.

In [144]:
#selection des colonnes pour faciliter la jointure 
worldPop = newTempPop[["area","year","population"]]

In [145]:
#renommer la colonnes area pour faciliter la jointure avec "data"
worldPop = worldPop.rename(columns={"area":"country"})

In [146]:
#Jointure de "data" sur la nourriture et celle de la population mondiale  sur pays et année 
dataPlusPop = pd.merge(data,worldPop, on=['country','year'])

### Réponse question 3

In [147]:
#ajout d'une colonne calculant les  Kcal disponibles: 
#dispo alimentaire Kcal/an = dispo alimentaire Kcal/personne/jour * population * nb jour année
dataPlusPop['kcal_dispo']= dataPlusPop.food_supply_kcalcapitaday * dataPlusPop.population *365

In [148]:
#ajout d'une colonne calculant les  KG de protéines disponibles: 
#dispo alimentaire KG de prot /an = dispo alimentaire en prot (kg/personne/jour) * population * nb jour année
dataPlusPop['kg_prot_dispo']= dataPlusPop.protein_supply_quantity_kgcapday * dataPlusPop.population*365

In [149]:
dataPlusPop[["country",'year','food_supply_kcalcapitaday','food_kg'
             ,'protein_supply_quantity_kgcapday','population','kcal_dispo','kg_prot_dispo']]

,country,year,food_supply_kcalcapitaday,food_kg,protein_supply_quantity_kgcapday,population,kcal_dispo,kg_prot_dispo
0,Armenia,2013,1024.0,3.890000e+08,0.03052,2977000.0,1.112684e+12,3.316318e+07
1,Armenia,2013,0.0,0.000000e+00,0.00000,2977000.0,0.000000e+00,0.000000e+00
2,Armenia,2013,0.0,0.000000e+00,0.00001,2977000.0,0.000000e+00,1.086605e+04
3,Armenia,2013,1.0,0.000000e+00,0.00002,2977000.0,1.086605e+09,2.173210e+04
4,Armenia,2013,2.0,1.000000e+06,0.00009,2977000.0,2.173210e+09,9.779445e+04
...,...,...,...,...,...,...,...,...
31462,Sudan,2017,0.0,0.000000e+00,0.00000,40813400.0,0.000000e+00,0.000000e+00
31463,Sudan,2017,0.0,0.000000e+00,0.00000,40813400.0,0.000000e+00,0.000000e+00
31464,Sudan,2017,22.0,1.280000e+08,0.00041,40813400.0,3.277316e+11,6.107725e+06
31465,Sudan,2017,230.0,4.301000e+09,0.01116,40813400.0,3.426285e+12,1.662493e+08
31466,Sudan,2017,1.0,3.000000e+07,0.00002,40813400.0,1.489689e+10,2.979378e+05

# Question 4 : A partir de ces dernières informations, et à partir du poids de la disponibilité alimentaire (pour chaque pays et chaque produit), calculez pour chaque produit le ratio "énergie/poids", que vous donnerez en kcal/kg. Vous pouvez vérifier la cohérence de votre calcul en comparant ce ratio aux données disponibles sur internet, par exemple en cherchant la valeur calorique d'un oeuf.
Valeur calorique et valeur protéique

In [150]:
#Suppression des lignes food = 0 pour éviter les divisions par 0 
tableQ4 = dataPlusPop[(dataPlusPop['food_kg']!= 0)& (dataPlusPop["kcal_dispo"]!= 0 ) & (dataPlusPop["kg_prot_dispo"]!= 0)]

### Réponse question 4

In [151]:
#création d'un masque supprimant les zéros pour éviter les divid/0
nzero_mask = dataPlusPop ["food_kg"] != 0

In [152]:
#ajout des colonnes valeur_calorique et valeur_protéique 
dataPlusPop.loc[nzero_mask,'valeur_calorique_kcalkg']= dataPlusPop.loc[nzero_mask,'kcal_dispo']/dataPlusPop.loc[nzero_mask,'food_kg']
dataPlusPop.loc[nzero_mask,'valeur_proteique_kgprotkg']= dataPlusPop.loc[nzero_mask,'kg_prot_dispo']/dataPlusPop.loc[nzero_mask,'food_kg']

In [153]:
#calcul de la moyenne par produits 
meanItem = dataPlusPop.pivot_table(['valeur_calorique_kcalkg',"valeur_proteique_kgprotkg"],
                                   index = ["item","year"], aggfunc='mean')
meanItem = meanItem.reset_index()
meanItem2013 = meanItem[meanItem["year"] == 2013]
meanItem2013 = meanItem2013.set_index("item")

### Réponses 4 vérification

In [154]:
#Verificication avec la valeure calorique et protéique de l'oeuf 
#(vc oeuf= 1470 kcla/kg ,vp oeuf= 0.126kgprot/kg)
print("Selon wikipédia la valeure calorique d'un oeuf est de 1470 kcal/kg,\n"
      "et selon le calcul elle est de {} kcal/kg.\n"
      "Selon wikipédia la valeure protéique d'un oeuf est de 0.126 kgprot/kg,\n"
      "et selon le calcul elle est de {} kgprot/kg."
      .format(round(meanItem2013.at["Eggs","valeur_calorique_kcalkg"]),round(meanItem2013.at["Eggs","valeur_proteique_kgprotkg"],3)))

Selon wikipédia la valeure calorique d'un oeuf est de 1470 kcal/kg,
et selon le calcul elle est de 1345.0 kcal/kg.
Selon wikipédia la valeure protéique d'un oeuf est de 0.126 kgprot/kg,
et selon le calcul elle est de 0.106 kgprot/kg.

# Question 5 : Citez 5 aliments parmi les 20 aliments les plus caloriques, en utilisant le ratio énergie/poids.
Étonnamment, il arrive que ce ratio soit différent en fonction du pays. Il faudra donc réaliser pour chaque aliment une moyenne sur les différents pays. Vous créerez donc une nouvelle table grâce à une agrégation. Attention à bien retirer les valeurs égales à 0 afin de ne pas fausser le calcul de la moyenne.
Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

In [155]:
#trier de façon décroissante la table précedément créée  
tableQ5 = meanItem.nlargest(20,'valeur_calorique_kcalkg')  
tableQ5 = tableQ5.reset_index()

### Reponse Question 5

In [156]:
print("Voici 5 items parmis les plus caloriques:\n")
for i in range (5):
    print(np.random.choice(tableQ5['item'],replace = False))

Voici 5 items parmis les plus caloriques:

Soyabean Oil
Palmkernel Oil
Cottonseed Oil
Ricebran Oil
Oilcrops Oil, Other

# Question 6 : Calculez, pour les produits végétaux uniquement, la disponibilité intérieure mondiale exprimée en kcal.

In [157]:
#ajout de la colonne dispo interieur en kcal (en multupliant domestic_supply_quantity
#par la valeur_calorique
dataPlusPop['domestic_supply_quantity_kcal']=dataPlusPop.domestic_supply_quantity_kg*dataPlusPop.valeur_calorique_kcalkg

In [158]:
#calcul de la dispo int mondiale végétale mondiale par année avec une table pivot 
# somme des "domestic_supply_quantity" par rapport à "origin" et "year"
dispoIntMond = dataPlusPop.pivot_table("domestic_supply_quantity_kcal",
                                        index=['origin','year'], aggfunc ='sum' )

### Reponse question 6

In [159]:
print("La disponibilité intérieur mondiale en {} était de {} Kcal.".format('2013',dispoIntMond.loc[('vegetal',2013),'domestic_supply_quantity_kcal']))
print("La disponibilité intérieur mondiale en {} était de {} Kcal.".format('2017',dispoIntMond.loc[('vegetal',2017),'domestic_supply_quantity_kcal']))

La disponibilité intérieur mondiale en 2013 était de 1.2312091265143304e+16 Kcal.
La disponibilité intérieur mondiale en 2017 était de 1.3734827573705508e+16 Kcal.

# Question 7 : Combien d'humains pourraient être nourris si toute la disponibilité intérieure mondiale de produits végétaux était utilisée pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

Les recherches montrent qu'il n'y a pas de valeures de base pour un être humain, elles  oscillent en fonction de la sédentarité, du sexe et de l'age. 
Pour les calories  cela peut aller de 3000 à 1550 
source http://localhost:8888/notebooks/Python/Projet3/projet_3.ipynb#Question-7-Combien-d'humain-pourrais-%C3%AAtre-nourris-avec-la-disponibilit%C3%A9-mondiale

Pour les proteines cela oscille aussi, d'abord à mesurer selon le poids de l'homme (g/kg/j), peut aussi se référer de 10% à 27% de l'apport énergetique nécessaire. 
https://www.anses.fr/fr/content/les-prot%C3%A9ines

1g de protéine = 4kcal
https://www.cerin.org/glossaire/calorie/

Nous retiendrons donc:  
Besoin energétique 2300 kcal/jour  
Besoin protéique 17% besoin énergétique soit 0,17*2300/4/1000= 0.09 kg/jour

In [160]:
#ajout de la colonne dispo mondiale  en kg de prot 
dataPlusPop['domestic_supply_quantity_kgprot']=dataPlusPop.domestic_supply_quantity_kg*dataPlusPop.valeur_proteique_kgprotkg

In [161]:
#fonction d'agrégation pour avoir la sommme des dispos 
dispoIntMondAll = dataPlusPop.pivot_table(['domestic_supply_quantity_kcal',"domestic_supply_quantity_kgprot"],
                                          index=['year','origin'], aggfunc ='sum')
dispoIntMondAll = dispoIntMondAll.reset_index()

In [162]:
#jointure de la population mondiale
humainNourrisAvecDipso = pd.merge (dispoIntMondAll,newPopWorldParAnnee, on=['year'])
humainNourrisAvecDipso = humainNourrisAvecDipso.set_index(['year','origin'])

In [163]:
#ajout des colonnes nb d'humains nourris :disponibilité intérieure / besoin d'un hummain pendant 1 an
humainNourrisAvecDipso['nb_humain_nourris_prot']=humainNourrisAvecDipso.domestic_supply_quantity_kgprot/(0.09*365)
humainNourrisAvecDipso['nb_humain_nourris_kcal']=humainNourrisAvecDipso.domestic_supply_quantity_kcal/(2300*365)

In [164]:
#ajout des colonnes pourcentages nourris: nb nourris / population totale
humainNourrisAvecDipso['pourcentage_pop_nourris_prot']=humainNourrisAvecDipso.nb_humain_nourris_prot/humainNourrisAvecDipso.population*100
humainNourrisAvecDipso['pourcentage_pop_nourris_energetique']=humainNourrisAvecDipso.nb_humain_nourris_kcal/humainNourrisAvecDipso.population*100
humainNourrisAvecDipso

              domestic_supply_quantity_kcal  domestic_supply_quantity_kgprot  \
year origin
2013 animal                    1.514878e+15                     9.116537e+10
     vegetal                   1.231209e+16                     2.901773e+11
2017 animal                    1.763026e+15                     9.875124e+10
     vegetal                   1.373483e+16                     3.151604e+11

                population  nb_humain_nourris_prot  nb_humain_nourris_kcal  \
year origin
2013 animal   6.997326e+09            2.775201e+09            1.804500e+09
     vegetal  6.997326e+09            8.833404e+09            1.466598e+10
2017 animal   7.329869e+09            3.006126e+09            2.100091e+09
     vegetal  7.329869e+09            9.593924e+09            1.636072e+10

              pourcentage_pop_nourris_prot  \
year origin
2013 animal                      39.660885
     vegetal                    126.239715
2017 animal                      41.012001
     vegetal                    130.888063

              pourcentage_pop_nourris_energetique
year origin
2013 animal                             25.788420
     vegetal                           209.594083
2017 animal                             28.651135
     vegetal                           223.206224

### Reponse question 7

In [165]:
print("En {}, {} personnes pouvaient subvenir à leur besoin énergétique\n"
      "avec la disponibilité intérieure mondiale de produits végétaux\n"
      "ce qui équivaut à {} % de la population ! "
      .format('2013',round(humainNourrisAvecDipso.loc[(2013,'vegetal'),'nb_humain_nourris_kcal']),
              round(humainNourrisAvecDipso.loc[(2013,'vegetal'),'pourcentage_pop_nourris_energetique'],1)))
print()
print("En {}, {} personnes pouvaient subvenir à leur besoin protéiques\n"
      "avec la disponibilité intérieure mondiale de produits végétaux\n"
      "ce qui équivaut à {} % de la population ! "
      .format('2013',round(humainNourrisAvecDipso.loc[(2013,'vegetal'),'nb_humain_nourris_prot']),
              round(humainNourrisAvecDipso.loc[(2013,'vegetal'),'pourcentage_pop_nourris_prot'],1)))
print()
print("En {}, {} personnes pouvaient subvenir à leur besoin énergétique\n"
      "avec la disponibilité intérieure mondiale de produits végétaux\n"
      "ce qui équivaut à {} % de la population ! "
      .format('2017',round(humainNourrisAvecDipso.loc[(2017,'vegetal'),'nb_humain_nourris_kcal']),
              round(humainNourrisAvecDipso.loc[(2017,'vegetal'),'pourcentage_pop_nourris_energetique'],1)))
print()
print("En {}, {} personnes pouvaient subvenir à leur besoin protéiques\n"
      "avec la disponibilité intérieure mondiale de produits végétaux\n"
      "ce qui équivaut à {} % de la population ! "
      .format('2017',round(humainNourrisAvecDipso.loc[(2017,'vegetal'),'nb_humain_nourris_prot']),
              round(humainNourrisAvecDipso.loc[(2017,'vegetal'),'pourcentage_pop_nourris_prot'],1)))

En 2013, 14665981257.0 personnes pouvaient subvenir à leur besoin énergétique
avec la disponibilité intérieure mondiale de produits végétaux
ce qui équivaut à 209.6 % de la population !

En 2013, 8833404388.0 personnes pouvaient subvenir à leur besoin protéiques
avec la disponibilité intérieure mondiale de produits végétaux
ce qui équivaut à 126.2 % de la population !

En 2017, 16360723733.0 personnes pouvaient subvenir à leur besoin énergétique
avec la disponibilité intérieure mondiale de produits végétaux
ce qui équivaut à 223.2 % de la population !

En 2017, 9593923529.0 personnes pouvaient subvenir à leur besoin protéiques
avec la disponibilité intérieure mondiale de produits végétaux
ce qui équivaut à 130.9 % de la population !

# Question 8 : Combien d'humains pourraient être nourris si toute la disponibilité alimentaire en produits végétaux, la nourriture végétale destinée aux animaux et les pertes de produits végétaux étaient utilisés pour de la nourriture ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [166]:
#ajout d'une colonne somme de:  prods nourritre (food) prod nourriture animale (feed) perte (watse)'
dataPlusPop['somme_food_feed_waste']=dataPlusPop.food_kg + dataPlusPop.feed_kg + dataPlusPop.waste_kg

In [167]:
#ajout de deux colonnes  calcul  de la dispo en kcal et en prot même méthode que dans la question 7
dataPlusPop['s_food_feed_waste_quantity_kcal']=dataPlusPop.somme_food_feed_waste*dataPlusPop.valeur_calorique_kcalkg
dataPlusPop['s_food_feed_waste_quantity_kgprot']=dataPlusPop.somme_food_feed_waste*dataPlusPop.valeur_proteique_kgprotkg

In [168]:
#somme de tous les produits
dispoVegeFoFeWaMond = dataPlusPop.pivot_table(['s_food_feed_waste_quantity_kcal',"s_food_feed_waste_quantity_kgprot"],
                                          index=['year','origin'], aggfunc ='sum')
dispoVegeFoFeWaMond = dispoVegeFoFeWaMond.reset_index()

In [169]:
#ajout des colonnes nb d'humains nourris
#ajout des la colonne en % de la pop mondiale
tableQ8= pd.merge(dispoVegeFoFeWaMond,newPopWorldParAnnee, on='year') 
tableQ8['nb_humain_nourris_prot']=tableQ8.s_food_feed_waste_quantity_kgprot/(0.09*365)
tableQ8['nb_humain_nourris_kcal']=tableQ8.s_food_feed_waste_quantity_kcal/(2300*365)
tableQ8['pourcentage_pop_nourris_prot']=tableQ8.nb_humain_nourris_prot/tableQ8.population*100
tableQ8['pourcentage_pop_nourris_energetique']=tableQ8.nb_humain_nourris_kcal/tableQ8.population*100
tableQ8 = tableQ8.set_index(['year','origin'])

### Réponse question 8

In [170]:
print("En {} avec la totalité de la dispobibilité alimentaire\n"
"destinée uniquement à la nourriture (humaine et animale)on aurait pu nourrir en terme de :\n"
"-Protéines, {} de personnes soit {}% de la population mondiale\n"
"-Calories, {} de personnes soit {}% de la population mondiale"
.format(2013,round(tableQ8.loc[(2013,"vegetal"),'nb_humain_nourris_prot']),
        round(tableQ8.loc[(2013,"vegetal"),'pourcentage_pop_nourris_prot'],1),
        round(tableQ8.loc[(2013,"vegetal"),'nb_humain_nourris_kcal']),
        round(tableQ8.loc[(2013,"vegetal"),'pourcentage_pop_nourris_energetique'],1)))
print()        
print("En {} avec la totalité de la dispobibilité alimentaire\n"
"destinée uniquement à la nourriture (humaine et animale)on aurait pu nourrir en terme de :\n"
"-Protéines, {} de personnes soit {}% de la population mondiale\n"
"-Calories, {} de personnes soit {}% de la population mondiale"
.format(2017,round(tableQ8.loc[(2017,"vegetal"),'nb_humain_nourris_prot']),
        round(tableQ8.loc[(2017,"vegetal"),'pourcentage_pop_nourris_prot'],1),
        round(tableQ8.loc[(2017,"vegetal"),'nb_humain_nourris_kcal']),
        round(tableQ8.loc[(2017,"vegetal"),'pourcentage_pop_nourris_energetique'],1)))

En 2013 avec la totalité de la dispobibilité alimentaire
destinée uniquement à la nourriture (humaine et animale)on aurait pu nourrir en terme de :
-Protéines, 4883506906.0 de personnes soit 69.8% de la population mondiale
-Calories, 7270217065.0 de personnes soit 103.9% de la population mondiale

En 2017 avec la totalité de la dispobibilité alimentaire
destinée uniquement à la nourriture (humaine et animale)on aurait pu nourrir en terme de :
-Protéines, 6220938503.0 de personnes soit 84.9% de la population mondiale
-Calories, 9254373951.0 de personnes soit 126.3% de la population mondiale

# Question 9 : Combien d'humains pourraient être nourris avec la disponibilité alimentaire mondiale ? Donnez les résultats en termes de calories, puis de protéines, et exprimez ensuite ces 2 résultats en pourcentage de la population mondiale.

In [171]:
#ajout des colonnes sur la quantité dispo alimentaire en kcal et en kg de prot
dataPlusPop['food_quantity_kcal']=dataPlusPop.food_kg*dataPlusPop.valeur_calorique_kcalkg
dataPlusPop['food_quantity_kgprot']=dataPlusPop.food_kg*dataPlusPop.valeur_proteique_kgprotkg

In [172]:
#agrégation la quantité en kcal et en kgprot
dispoAlimWorld = dataPlusPop.groupby('year')['food_quantity_kcal','food_quantity_kgprot'].sum()

E:\Python\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [173]:
#ajout de la table population 
tableQ9 = pd.merge(dispoAlimWorld,newPopWorldParAnnee, on='year') 
tableQ9 = tableQ9.set_index("year")

In [174]:
#ajout des colonnes nb d'humains nourris
#ajout des la colonne en % de la pop mondiale
tableQ9['nb_humain_nourris_prot']=tableQ9.food_quantity_kgprot/(0.09*365)
tableQ9['nb_humain_nourris_kcal']=tableQ9.food_quantity_kcal/(2300*365)
tableQ9['pourcentage_pop_nourris_prot']=tableQ9.nb_humain_nourris_prot/tableQ9.population*100
tableQ9['pourcentage_pop_nourris_energetique']=tableQ9.nb_humain_nourris_kcal/tableQ9.population*100

### Reponse question 9

In [175]:
print("En {} avec la totalité de la dispobibilité alimentaire mondiale on aurait pu nourrir en terme de :\n"
"-Protéines, {} de personnes soit {}% de la population mondiale\n"
"-Calories, {} de personnes soit {}% de la population mondiale"
.format(2013,round(tableQ9.loc[(2013),'nb_humain_nourris_prot']),
        round(tableQ9.loc[(2013),'pourcentage_pop_nourris_prot'],1),
        round(tableQ9.loc[(2013),'nb_humain_nourris_kcal']),
        round(tableQ9.loc[(2013),'pourcentage_pop_nourris_energetique'],1)))
print()        
print("En {} avec la totalité de la dispobibilité alimentaire mondiale on aurait pu nourrir en terme de :\n"
"-Protéines, {} de personnes soit {}% de la population mondiale\n"
"-Calories, {} de personnes soit {}% de la population mondiale"
.format(2017,round(tableQ9.loc[(2017),'nb_humain_nourris_prot']),
        round(tableQ9.loc[(2017),'pourcentage_pop_nourris_prot'],1),
        round(tableQ9.loc[(2017),'nb_humain_nourris_kcal']),
        round(tableQ9.loc[(2017),'pourcentage_pop_nourris_energetique'],1)))

En 2013 avec la totalité de la dispobibilité alimentaire mondiale on aurait pu nourrir en terme de :
-Protéines, 6305799345.0 de personnes soit 90.1% de la population mondiale
-Calories, 8767545679.0 de personnes soit 125.3% de la population mondiale

En 2017 avec la totalité de la dispobibilité alimentaire mondiale on aurait pu nourrir en terme de :
-Protéines, 6733325529.0 de personnes soit 91.9% de la population mondiale
-Calories, 9217263557.0 de personnes soit 125.7% de la population mondiale

#  Question 10 : A partir des données téléchargées qui concernent la sous-nutrition, répondez à cette question : Quelle proportion de la population mondiale est considérée comme étant en sous-nutrition ?

In [176]:
#importation des données de sous nutrition
sousNutri=pd.read_csv(r"E:\Openclassroom Data analyst\Projet3\Données projet 3\sousNutritionMillion.csv")

In [177]:
#overview
sousNutri.describe(include='all')

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description,Note
count,1020,1020,1020.000000,1020,1020.0,1020,1020.0,1020,1.020000e+03,1020,1020,605,1020,1020,0.0
unique,1,1,NaN,204,NaN,1,NaN,1,NaN,5,1,146,3,3,NaN
top,FS,Suite of Food Security Indicators,NaN,Ukraine,NaN,Value,NaN,Number of people undernourished (million) (3-y...,NaN,2015-2017,millions,<0.1,F,FAO estimate,NaN
freq,1020,1020,NaN,5,NaN,1020,NaN,1020,NaN,204,1020,115,605,605,NaN
mean,NaN,NaN,129.264706,NaN,6132.0,NaN,210011.0,NaN,2.014202e+07,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,76.615019,NaN,0.0,NaN,0.0,NaN,1.415049e+04,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,1.000000,NaN,6132.0,NaN,210011.0,NaN,2.012201e+07,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,62.500000,NaN,6132.0,NaN,210011.0,NaN,2.013202e+07,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,127.500000,NaN,6132.0,NaN,210011.0,NaN,2.014202e+07,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,193.250000,NaN,6132.0,NaN,210011.0,NaN,2.015202e+07,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,351.000000,NaN,6132.0,NaN,210011.0,NaN,2.016202e+07,NaN,NaN,NaN,NaN,NaN,NaN

In [178]:
#renomme les colonnes 
sousNutri.columns=["domain_code","domain","area_code","country","element_code","element","item_code","item"
                   ,"year_code","xx","unit","pop_sous_nourris_millions","flag","flag_description","note"]

In [179]:
#selection des lignes avec une valeure
selecSousNutri = sousNutri[sousNutri['pop_sous_nourris_millions']!= '<0.1']

In [180]:
#conversion de la colonne value en float64
selecSousNutriBon = selecSousNutri.astype({'pop_sous_nourris_millions':'float'})
selecSousNutriBon.dtypes

domain_code                   object
domain                        object
area_code                      int64
country                       object
element_code                   int64
element                       object
item_code                      int64
item                          object
year_code                      int64
xx                            object
unit                          object
pop_sous_nourris_millions    float64
flag                          object
flag_description              object
note                         float64
dtype: object

In [181]:
#ajout d'une colonne pop_sous_nourris
selecSousNutriBon['pop_sous_nourris']= selecSousNutriBon.pop_sous_nourris_millions*1000000
selecSousNutriBon=selecSousNutriBon[["domain_code","domain","area_code","country","element_code",
                                     "element","item_code","item"
                                     ,"year_code","flag","flag_description","note",'pop_sous_nourris']]

In [182]:
#création d'une colonne year avec les vraies années
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20112013, 'year'] = 2012
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20122014, 'year'] = 2013
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20132015, 'year'] = 2014
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20142016, 'year'] = 2015
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20152017, 'year'] = 2016
selecSousNutriBon.loc[selecSousNutriBon["year_code"]== 20162018, 'year'] = 2017

In [183]:
#Agrégation par année 
popSousNourrisAnnee = selecSousNutriBon.groupby('year')["pop_sous_nourris"].sum()
popSousNourrisAnnee

year
2013.0    881400000.0
2014.0    865100000.0
2015.0    859200000.0
2016.0    863300000.0
2017.0    873300000.0
Name: pop_sous_nourris, dtype: float64

In [184]:
#création de la table de proportion de sous nutrition
propSousNourris= pd.merge(popSousNourrisAnnee,newPopWorldParAnnee, on='year')

In [185]:
#Création de la colonne de proportion en %
propSousNourris["prop_sous_nourris_%"] = (propSousNourris.pop_sous_nourris)/(propSousNourris.population)*100
propSousNourris = propSousNourris.set_index("year")

### Réponse question 10

In [186]:
propSousNourris

        pop_sous_nourris    population  prop_sous_nourris_%
year
2013.0       881400000.0  6.997326e+09            12.596240
2017.0       873300000.0  7.329869e+09            11.914265

In [187]:
print("La proportion d'être humains en sous nutrition était\n"
      "de {} % en {}, et de {}% en {}."
      .format(round(propSousNourris.loc[2013,'prop_sous_nourris_%'],1),2013,
              round(propSousNourris.loc[2017,'prop_sous_nourris_%'],1),2017))

La proportion d'être humains en sous nutrition était
de 12.6 % en 2013, et de 11.9% en 2017.

# Question 11 : En ne prenant en compte que les céréales destinées à l'alimentation (humaine et animale), quelle proportion (en termes de poids) est destinée à l'alimentation animale ?

In [188]:
#importation de la liste des céréales FAO
listCereal = pd.read_csv(r"E:\Openclassroom Data analyst\Projet3\Données projet 3\worldCerealProdutcion.csv")
listCereal.head()

,Domain Code,Domain,Area Code,Area,Element Code,Element,Item Code,Item,Year Code,Year,Unit,Value,Flag,Flag Description
0,FBSH,Food Balances (old methodology and population),5000,World,5511,Production,2511,Wheat and products,2013,2013,1000 tonnes,708443,A,"Aggregate, may include official, semi-official..."
1,FBSH,Food Balances (old methodology and population),5000,World,5511,Production,2805,Rice (Milled Equivalent),2013,2013,1000 tonnes,495447,A,"Aggregate, may include official, semi-official..."
2,FBSH,Food Balances (old methodology and population),5000,World,5511,Production,2513,Barley and products,2013,2013,1000 tonnes,142460,A,"Aggregate, may include official, semi-official..."
3,FBSH,Food Balances (old methodology and population),5000,World,5511,Production,2514,Maize and products,2013,2013,1000 tonnes,1017031,A,"Aggregate, may include official, semi-official..."
4,FBSH,Food Balances (old methodology and population),5000,World,5511,Production,2515,Rye and products,2013,2013,1000 tonnes,16711,A,"Aggregate, may include official, semi-official..."

In [189]:
listCereal.rename(columns={'Domain Code':'domain_code', 'Domain':'domain', 'Area Code':"area_code", 
                           "Area":"area", "Element Code":"element_code","Element":"element",
                           'Item Code':'item_code','Item':"item","Year Code":'year_code','Year':'year',
                           'Unit':"unit",'Value':'value','Flag':'flag','Flag Description':'flag_description'},
                  inplace=True)

In [190]:
#Création d'une colonne vérification si l'item est un cereal
dataPlusPop['is_cereal']= dataPlusPop.item_code.isin(listCereal["item_code"])

In [191]:
#Creation de la table avec uniquement des céréales 
dataCereal= dataPlusPop[(dataPlusPop["is_cereal"] == True) & ((dataPlusPop["food_kg"] >= 0) | (dataPlusPop["feed_kg"]>=0))]

In [192]:
dataCereal

,country_code,country,item_code,item,year,origin,domestic_supply_quantity_kg,export_quantity_kg,fat_supply_quantity_kgcapitayr,feed_kg,...,valeur_calorique_kcalkg,valeur_proteique_kgprotkg,domestic_supply_quantity_kcal,domestic_supply_quantity_kgprot,somme_food_feed_waste,s_food_feed_waste_quantity_kcal,s_food_feed_waste_quantity_kgprot,food_quantity_kcal,food_quantity_kgprot,is_cereal
0,1,Armenia,2511,Wheat and products,2013,vegetal,5.540000e+08,1000000.0,3.60,93000000.0,...,2860.368946,0.085252,1.584644e+12,4.722983e+07,5.140000e+08,1.470230e+12,4.381973e+07,1.112684e+12,3.316318e+07,True
1,1,Armenia,2513,Barley and products,2013,vegetal,1.980000e+08,0.0,0.00,137000000.0,...,NaN,NaN,NaN,NaN,1.520000e+08,NaN,NaN,NaN,NaN,True
2,1,Armenia,2514,Maize and products,2013,vegetal,1.020000e+08,NaN,NaN,96000000.0,...,NaN,NaN,NaN,NaN,1.030000e+08,NaN,NaN,NaN,NaN,True
3,1,Armenia,2515,Rye and products,2013,vegetal,1.000000e+06,NaN,0.00,1000000.0,...,NaN,NaN,NaN,NaN,1.000000e+06,NaN,NaN,NaN,NaN,True
4,1,Armenia,2516,Oats,2013,vegetal,6.000000e+06,NaN,0.03,4000000.0,...,2173.210000,0.097794,1.303926e+10,5.867667e+05,5.000000e+06,1.086605e+10,4.889722e+05,2.173210e+09,9.779445e+04,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
31376,276,Sudan,2516,Oats,2017,vegetal,0.000000e+00,NaN,0.00,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True
31377,276,Sudan,2517,Millet and products,2017,vegetal,8.620000e+08,NaN,1.13,48000000.0,...,3065.598148,0.087417,2.642546e+12,7.535384e+07,7.210000e+08,2.210296e+12,6.302798e+07,1.906802e+12,5.437365e+07,True
31378,276,Sudan,2518,Sorghum and products,2017,vegetal,4.133000e+09,185000000.0,5.32,374000000.0,...,3088.856664,0.090878,1.276624e+13,3.756000e+08,3.241000e+09,1.001098e+13,2.945366e+08,8.237981e+12,2.423724e+08,True
31379,276,Sudan,2520,"Cereals, Other",2017,vegetal,1.000000e+06,NaN,0.00,NaN,...,0.000000,0.000000,0.000000e+00,0.000000e+00,NaN,NaN,NaN,0.000000e+00,0.000000e+00,True
31464,276,Sudan,2805,Rice (Milled Equivalent),2017,vegetal,1.300000e+08,NaN,0.06,0.0,...,2560.403141,0.047717,3.328524e+11,6.203159e+06,1.290000e+08,3.302920e+11,6.155442e+06,3.277316e+11,6.107725e+06,True

In [193]:
#Création de la table concernant la somme pour feed et food
tableQ11= dataCereal.groupby('year')["food_kg","feed_kg"].sum()

E:\Python\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [194]:
#Création de la colonne concernant la proportion consacré à feed :feed / (feed+food)*100
tableQ11["proportion_feed"]=tableQ11.feed_kg/(tableQ11.food_kg+tableQ11.feed_kg) *100

### Réponse question 11

In [195]:
print("Concernant les céréales destinées à l'alimentation (humaine et animale)\n"
      "un poids important est consacré à l'alimentation animale:\n"
      "-En {},{} de kg soit {}% de la production totale\n"
      "-En {},{} de kg soit {}% de la production totale"
      .format(2013,tableQ11.loc[(2013),'feed_kg'],
        round(tableQ11.loc[(2013),'proportion_feed'],1),2017,
        tableQ11.loc[(2017),'feed_kg'],
        round(tableQ11.loc[(2017),'proportion_feed'],1)))

Concernant les céréales destinées à l'alimentation (humaine et animale)
un poids important est consacré à l'alimentation animale:
-En 2013,873535000000.0 de kg soit 45.9% de la production totale
-En 2017,1005625000000.0 de kg soit 43.8% de la production totale

In [196]:
tableQ11

           food_kg       feed_kg  proportion_feed
year
2013  1.029010e+12  8.735350e+11        45.914026
2017  1.288569e+12  1.005625e+12        43.833477

# Question 12 : Préparation

#### Selection des pays avec de la sousnutrition en 2017

In [197]:
#détection des pays sous-nourris dans la base alimentaire 
dataPlusPop['is_sous_nutri']= dataPlusPop.country.isin(selecSousNutriBon.country)

In [198]:
#selection des pays sous nourris pour une l'année 2017
sousNutri2017= dataPlusPop[(dataPlusPop["is_sous_nutri"] == True)& (dataPlusPop["year"] == 2017)]

#### Détection des 15 produits les plus exportés

In [199]:
#grouper par produit
prodExportPaysSsNutri = sousNutri2017.pivot_table ('export_quantity_kg', index ='item' , aggfunc = 'sum')

In [200]:
#15 produits les plus exportés:
maxProdExportPaysSsNutri = prodExportPaysSsNutri.nlargest(15,'export_quantity_kg')
maxProdExportPaysSsNutri = maxProdExportPaysSsNutri.reset_index()
maxProdExportPaysSsNutri

                        item  export_quantity_kg
0         Wheat and products        2.386150e+11
1         Maize and products        1.682290e+11
2                  Soyabeans        1.520890e+11
3    Milk - Excluding Butter        1.316260e+11
4     Sugar (Raw Equivalent)        7.165900e+10
5   Rice (Milled Equivalent)        6.425900e+10
6          Vegetables, Other        5.079800e+10
7        Barley and products        4.907000e+10
8                   Palm Oil        4.671000e+10
9       Cassava and products        4.027000e+10
10     Potatoes and products        3.313700e+10
11             Fruits, Other        3.153400e+10
12       Oranges, Mandarines        3.043100e+10
13      Rape and Mustardseed        2.596400e+10
14         Sweeteners, Other        2.365400e+10

#### 200 plus grandes importations de ces produits

In [201]:
#création colonne si pays dans pays impotateur de pays sous nutri
dataPlusPop['is_import_from_sous_nutri_2017']= dataPlusPop.item.isin(maxProdExportPaysSsNutri.item)

In [202]:
#selection des pays importateurs et année 2017
paysImportFromSousNutri2017 = dataPlusPop[(dataPlusPop["is_import_from_sous_nutri_2017"] == True)& (dataPlusPop["year"] == 2017)]

In [203]:
#selection des 200 plus grosses importations
plusGrosseImport = paysImportFromSousNutri2017.nlargest(200,'import_quantity_kg')

In [204]:
#selection des colonnes utiles
plusGrosseImportUtile = plusGrosseImport[['country',"year",'item',"import_quantity_kg",'domestic_supply_quantity_kg','other_uses_kg',"food_kg","feed_kg"]]

In [205]:
plusGrosseImportUtile

,country,year,item,import_quantity_kg,domestic_supply_quantity_kg,other_uses_kg,food_kg,feed_kg
5037,"China, mainland",2017,Soyabeans,9.553800e+10,1.045370e+11,NaN,5.541000e+09,1.140600e+10
5024,"China, mainland",2017,Cassava and products,3.620200e+10,4.063400e+10,1.299900e+10,2.503000e+09,2.498600e+10
18114,Mexico,2017,Maize and products,1.550800e+10,3.801000e+10,9.800000e+07,1.582500e+10,1.666900e+10
14073,Japan,2017,Maize and products,1.453000e+10,1.451600e+10,2.920000e+08,1.653000e+09,1.080600e+10
12383,Indonesia,2017,Wheat and products,1.062600e+10,8.674000e+09,2.630000e+08,7.110000e+09,1.454000e+09
...,...,...,...,...,...,...,...,...
4466,Sri Lanka,2017,Wheat and products,1.259000e+09,1.036000e+09,7.000000e+06,8.290000e+08,1.850000e+08
14087,Japan,2017,Sugar (Raw Equivalent),1.254000e+09,1.944000e+09,NaN,1.944000e+09,NaN
7438,Egypt,2017,Sugar (Raw Equivalent),1.232000e+09,3.241000e+09,7.310000e+08,2.463000e+09,4.600000e+07
27783,Tunisia,2017,Maize and products,1.232000e+09,1.232000e+09,1.400000e+07,0.000000e+00,1.218000e+09
13323,Italy,2017,Potatoes and products,1.222000e+09,2.374000e+09,3.900000e+07,2.162000e+09,4.100000e+07

#### Utilisations de ces importations et ratio (otheruse/dispo int) (feed/food+feed)

In [206]:
#Création d'une table d'utilisation des importations
utilisationImport = plusGrosseImportUtile.groupby('item')['domestic_supply_quantity_kg',"other_uses_kg",'food_kg',"feed_kg"].sum()

E:\Python\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.

In [207]:
#Création des colonnes sur les ratios suivants
#le ratio entre la quantité destinés aux "Autres utilisations" 
#(Other uses) et la disponibilité intérieure.
#le ratio entre la quantité destinée 
#à la nourriture animale et la quantité destinée à la nourriture (animale + humaine)

utilisationImport['ratio_otheruses_domesupply']= utilisationImport.other_uses_kg/utilisationImport.domestic_supply_quantity_kg
utilisationImport['ratio_feed_feedfeood']=utilisationImport.feed_kg/(utilisationImport.feed_kg+utilisationImport.food_kg)

In [208]:
utilisationImport

,domestic_supply_quantity_kg,other_uses_kg,food_kg,feed_kg,ratio_otheruses_domesupply,ratio_feed_feedfeood
item,,,,,,
Barley and products,4.355400e+10,2.600000e+07,1.064000e+09,3.139600e+10,0.000597,0.967221
Cassava and products,6.148400e+10,2.028900e+10,1.320600e+10,2.537100e+10,0.329988,0.657672
"Fruits, Other",7.952600e+10,0.000000e+00,7.286100e+10,0.000000e+00,0.000000,0.000000
Maize and products,8.735880e+11,2.083510e+11,6.175200e+10,5.111310e+11,0.238500,0.892208
Milk - Excluding Butter,2.218320e+11,7.675000e+09,1.833150e+11,2.747500e+10,0.034598,0.130343
"Oranges, Mandarines",1.341700e+10,6.000000e+06,1.280800e+10,0.000000e+00,0.000447,0.000000
Palm Oil,2.500300e+10,1.608500e+10,6.908000e+09,0.000000e+00,0.643323,0.000000
Potatoes and products,4.740600e+10,3.585000e+09,3.325900e+10,2.230000e+09,0.075623,0.062836
Rape and Mustardseed,2.923200e+10,7.900000e+07,4.500000e+07,3.207000e+09,0.002703,0.986162
Rice (Milled Equivalent),3.022650e+11,6.762000e+09,2.510500e+11,2.153300e+10,0.022371,0.078996
Soyabeans,1.958850e+11,7.810000e+08,8.645000e+09,1.952300e+10,0.003987,0.693091
Sugar (Raw Equivalent),7.685200e+10,4.689000e+09,6.646800e+10,3.660000e+08,0.061013,0.005476
"Sweeteners, Other",1.482100e+10,2.291000e+09,1.261100e+10,0.000000e+00,0.154578,0.000000
"Vegetables, Other",7.041200e+10,0.000000e+00,6.167700e+10,3.800000e+09,0.000000,0.058036
Wheat and products,5.436430e+11,2.038200e+10,3.682150e+11,1.116160e+11,0.037492,0.232615

# Question 12 : Donnez les 3 produits qui ont la plus grande valeur pour chacun des 2 ratios (vous aurez donc 6 produits à citer)

In [209]:
troisMaxOtheruse = utilisationImport.nlargest(3,'ratio_otheruses_domesupply')
troisMaxOtheruse = troisMaxOtheruse.reset_index()
print('Les 3 produits importés les plus utilisés pour autres choses que de la nourriture sont:')
for i in range (3):
    print("-{}".format( troisMaxOtheruse.at[i,'item']))

Les 3 produits importés les plus utilisés pour autres choses que de la nourriture sont:
-Palm Oil
-Cassava and products
-Maize and products

In [210]:
troisMaxFeed = utilisationImport.nlargest(3,'ratio_feed_feedfeood')
troisMaxFeed = troisMaxFeed.reset_index()
print('Les 3 produits importés les plus utilisés pour la nourriture animale que de la nourriture humaine:')
for i in range (3):
    print("-{}".format( troisMaxFeed.at[i,'item']))

Les 3 produits importés les plus utilisés pour la nourriture animale que de la nourriture humaine:
-Rape and Mustardseed
-Barley and products
-Maize and products

# Question 13 : Combien de tonnes de céréales pourraient être libérées si les USA diminuaient leur production de produits animaux de 10% ?

In [211]:
#selection des données USA et céréales 
usaCereale= dataPlusPop[(dataPlusPop['country']== 'United States of America') & (dataPlusPop['is_cereal']== True)]

In [212]:
#aggrégation par année de la collone feed
sommeFeedCerealUsa = usaCereale.pivot_table (['feed_kg'], index= 'year',aggfunc= 'sum')

In [213]:
#Ajout d'une colonne tonnee_dispo = 10% de la consomation / 1000 
sommeFeedCerealUsa["tonnes_dispo_moins10%_conso_feed"]= sommeFeedCerealUsa.feed_kg*0.1/1000

### Réponse question 13

In [214]:
print("Si les états-unis diminuaient leurs productions de produits animaux de 10%\n"
      "{} tonnes pouvaient être libérées en {}\n"
      "{} tonnes pouvaient être libérées en {}"
      .format(sommeFeedCerealUsa.loc[2013,"tonnes_dispo_moins10%_conso_feed"],2013,
              sommeFeedCerealUsa.loc[2017,"tonnes_dispo_moins10%_conso_feed"],2017))

Si les états-unis diminuaient leurs productions de produits animaux de 10%
14009600.0 tonnes pouvaient être libérées en 2013
14042400.0 tonnes pouvaient être libérées en 2017

# Question 14 : En Thaïlande, quelle proportion de manioc est exportée ? Quelle est la proportion de personnes en sous-nutrition?

In [215]:
#création d'une colonne poportion exportation exportation /(production +importation) *100
dataPlusPop['prop_exportation'] = dataPlusPop.export_quantity_kg/(dataPlusPop.production_kg+dataPlusPop.import_quantity_kg)*100

In [216]:
#selection de lignes utiles 
maniocThailand = dataPlusPop[['country','item','year','domestic_supply_quantity_kg', 'export_quantity_kg','population','prop_exportation']]
maniocThailand = maniocThailand[(maniocThailand['country']=="Thailand") & (maniocThailand['item']=='Cassava and products')]
maniocThailand = maniocThailand.reset_index()
maniocThailand

,index,country,item,year,domestic_supply_quantity_kg,export_quantity_kg,population,prop_exportation
0,26953,Thailand,Cassava and products,2013,6.264000e+09,2.521400e+10,67011000.0,80.100388
1,27048,Thailand,Cassava and products,2017,8.495000e+09,2.940900e+10,69209810.0,93.730877

In [217]:
#création d'une table sous nutritiion en thailand
sousNourrisThai = selecSousNutriBon[((selecSousNutriBon['year']== 2013)|(selecSousNutriBon['year']== 2017))& (selecSousNutriBon['country']=='Thailand')]
sousNourrisThai = sousNourrisThai[["year","pop_sous_nourris",'country',]]

In [218]:
#jointure  de la population 
tableQ142 = pd.merge(sousNourrisThai,maniocThailand, on =(["year","country"]))

In [219]:
#calcul de la proportion de personne sous nourris en thaïlande
tableQ142["prop_sous_nutri"]= (tableQ142.pop_sous_nourris)/tableQ142.population*100
tableQ142 =  tableQ142.reset_index()
tableQ142

,level_0,year,pop_sous_nourris,country,index,item,domestic_supply_quantity_kg,export_quantity_kg,population,prop_exportation,prop_sous_nutri
0,0,2013.0,5600000.0,Thailand,26953,Cassava and products,6.264000e+09,2.521400e+10,67011000.0,80.100388,8.356837
1,1,2017.0,5400000.0,Thailand,27048,Cassava and products,8.495000e+09,2.940900e+10,69209810.0,93.730877,7.802362

### Réponse question 14

In [220]:
for i in range (2) :
    print("En {} en Taïlande {}% du manioc est exporté alors que {}% de la population est en sous-nutrition."
      .format(maniocThailand.at[i,'year'],
              round(maniocThailand.at[i,'prop_exportation'],1),
              round(tableQ142.at[i,'prop_sous_nutri'],1)))

En 2013 en Taïlande 80.1% du manioc est exporté alors que 8.4% de la population est en sous-nutrition.
En 2017 en Taïlande 93.7% du manioc est exporté alors que 7.8% de la population est en sous-nutrition.